* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  overflow-x: hidden;
}

.mobile-logo {
    display: none;
}
.logo {
  flex: 1;
}

.logo img {
  width: 50px;
}

.navbar ul {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #3f3f7e;
  box-shadow: inset 0 0 3rem rgba(0, 0, 0.5);
  z-index: -1;
}

.navbar li {
  padding: 1rem;
}

.navbar-toggle {
  display: none;
}

.navbar-link a:hover {
  color: black;
  background-color: white;
  border-radius: 10px;
}
.navbar-link a {
  padding: 10px 12px;
}

/* ====================END OF NAVBAR */

/* ---------------------------------TOP SECTION ----------------------------*/
.exprtise img {
  width: 100%;
}
/* ------------------------------------------------------------------------------------------- */
#container {
  display: flex;
  margin-top: 80px;
  justify-content: space-around;
}
#content {
  display: flex;
  margin-top: 80px;
  justify-content: space-around;
  margin-bottom: 40px
}
/* -------------------------------------------------------------- */

/* ----------------------FIRST BOX---------------- */

.box {
  display: flex;

  background-color: #c73434;
  width: 350px;
  height: 250px;
  margin-left: 40px;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  transition: all 0s ease-in-out;
}

.box:hover {
  transform: rotate(25deg);
}

.box a {
  text-decoration: none;
  font-size: 2.2rem;
  color: antiquewhite;
}
/* -------------------------------------------------------------------- */
/* Box--2 */

.box1 {
  display: flex;
  background-color: #c734c4;
  width: 350px;
  height: 250px;
  margin-left: 40px;
  border-radius: 50px;
  transition: all 0s ease-in;
  align-items: center;
  justify-content: center;
}

.box1:hover {
  transform: rotate(20deg);
}
.box1 a {
  text-decoration: none;
  font-size: 2.2rem;
  color: antiquewhite;
  display: block;
}

/* --------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* BOX 3 */

.box2 {
  display: flex;
  background-color: #88a815;
  width: 350px;
  height: 250px;
  margin-left: 40px;
  border-radius: 50px;
  transition: all 0s ease-in;
  align-items: center;
  justify-content: center;
}

.box2:hover {
  transform: rotate(20deg);
}
.box2 a {
  text-decoration: none;
  font-size: 2.2rem;
  color: antiquewhite;
}
/*-----------------------------------------------------------------  */
/* box4 */

.box3 {
  display: flex;
  background-color: #15a8a6;
  width: 350px;
  height: 250px;
  margin-left: 40px;
  border-radius: 50px;
  transition: all 0s ease-in;
  align-items: center;
  justify-content: center;
}

.box3:hover {
  transform: rotate(20deg);
}
.box3 a {
  text-decoration: none;
  font-size: 2.2rem;
  color: antiquewhite;
}
/*-----------------------------------------------------------------  */
/* box5 */

.box4 {
  display: flex;
  background-color: #a8154b;
  width: 350px;
  height: 250px;
  margin-left: 40px;
  border-radius: 50px;
  transition: all 0s ease-in;
  align-items: center;
  justify-content: center;
}

.box4:hover {
  transform: rotate(20deg);
}
.box4 a {
  text-decoration: none;
  font-size: 2.2rem;
  color: antiquewhite;
}
/* ------------------------------------------------------------------ */

/* ----------------------------------------------------------------- */
/*CLICK IMG WIDTH */

.box img {
  width: 50px;
}
.box1 img {
  width: 50px;
}
.box2 img {
  width: 50px;
}
.box3 img {
  width: 50px;
}
.box4 img {
  width: 50px;
}
/* ------------------------------------------------------------ */
/* Background */

.back {
box-shadow: inset 0 0 3rem rgb(109, 109, 193);
  background-image: linear-gradient(45deg, #fbda61 0%, #ff5acd 100%);
}

/* ---------------------------------------- */
/* FOOTER */

.foot {
  width: 100%;
  color: #3f3f7e;
  box-shadow: inset 0 0 3rem rgba(0, 0, 0.6);
  color: white;
  text-align: center;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
