.mobile-logo {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  overflow-x: hidden;
}

.logo {
  flex: 1;
}

.logo img {
  width: 50px;
}

.navbar ul {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #3f3f7e;
  box-shadow: inset 0 0 3rem rgba(0, 0, 0.5);
  z-index: -1;
}

.navbar li {
  padding: 1rem;
}

.navbar-toggle {
  display: none;
}

.navbar-link a:hover {
  color: black;
  background-color: white;
  border-radius: 10px;
}

.navbar-link a {
  padding: 10px 12px;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  /* background color */
  overflow: hidden;
  background-color: #74ebd5;
  background-image: linear-gradient(90deg, #74ebd5 0%, #9face6 100%);
  padding: 10px;
  gap: 5px;
}

.box {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.expt img {
  width: 100vw;
}

/* ---------------------------------------------*******************--------------- */
/* div Box BOX1 */
.box {
  width: 380px;
  height: 590px;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  padding-top: 80px;
  margin: 20px;
  text-align: center;
  letter-spacing: 1px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: relative;
  z-index: 0;
}
/* ------------------------------------------------------------------------------------ */
/* Box h1 & Box h2 */
.box h1 {
  font-size: 35px;
  padding: 50px 0px;
  color: #444;
}

/* ------------------------------------------------------------------------- */
/* BOX P AND BOX1 P */

.box p {
  font-size: 16px;
  color: #777;
}

/* ********************************************************************************* */
/* hoveraing effect */
.box ::before {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  z-index: -1;
}

/* ------------------------------- */
.box::before {
  width: 100%;
  height: 100%;
  background-color: #fbda61;
  background-image: linear-gradient(45deg, #fbda61 0%, #ff5acd 100%);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  clip-path: circle(20% at 90% 10%);
  transition: 0.2s;
}

.box .count {
  position: absolute;
  top: 15px;
  right: 30px;
  font-size: 50px;
  color: #fff;
  font-weight: bold;
}

/* ---------------------------------------------------------------------------------- */
/* ***CHANGING  COLOR  CIRCLE**** */

.box:nth-child(2)::before {
  background: color #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}
.box:nth-child(3)::before {
  background-color: #08aeea;
  background-image: linear-gradient(0deg, #08aeea 0%, #2af598 100%);
}
/* ------------------------------------------------------------------------------- */
.box:nth-child(4)::before {
  background: color #da00e9;
  background-image: linear-gradient(160deg, #da00e9 0%, #80bdd0 100%);
}

.box:nth-child(5)::before {
  background: color #e5e900;
  background-image: linear-gradient(160deg, #e5e900 0%, #9dd080 100%);
}
.box:nth-child(6)::before {
  background-color: #ea08e3;
  background-image: linear-gradient(0deg, #ea08e3 0%, #2aabf5 100%);
}
/* ----------------------------------------------------------------------------------- */

/* CHANING COLOR IN COLOCER FORM  */

.box:hover::before {
  clip-path: circle(100%);
}

.box:hover h1 {
  color: #fff;
}

.box:hover p {
  color: #fff;
}

.foot{
    width: 100vw;
    height: 8vh;
    color: white;
    background-color: #3f3f7e;
    display: flex;
    justify-content: center;
    align-items: center;    
}
